@import url('./__item/photo-grid__item.css');
.photo-grid {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 92px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@font-face {
    src: url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
    font-family: 'Inter';
}

@font-face {
    src: url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.woff2") format("woff2");
    font-family: 'Inter-Bold';
}

@font-face {
    src: url("../fonts/Inter/Inter-ExtraBold.woff") format("woff"), url("../fonts/Inter/Inter-ExtraBold.woff2") format("woff2");
    font-family: 'Inter-ExtraBold';
}

@media screen and (min-width: 1440px) {
    .photo-grid {
        max-width: 1184px;
        min-height: 596px;
        margin-top: 48px;
    }
}

@media screen and (max-width: 1280px) {
    .photo-grid {
        width: 92.5%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        width: 90%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        width: 94%;
        margin-top: 24px;
    }
}

@media screen and (max-width: 375px) {
    .photo-grid {
        width: 91%;
        margin-top: 64px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: 90%;
        margin-left: 16px;
        margin-top: 64px;
    }
}