.comment__image {
    border-radius: 80px;
    width: 147px;
    height: 147px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px) {
    .comment__image {
        margin-left: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 768px) {
    .comment__image {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 375px) {
    .comment__image {
        margin-bottom: 0px;
        order: 1;
    }
}