.cover-bg {
    position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    border-radius: 200px;
    z-index: 1;
}

.cover-bg:hover {
    opacity: 0.05;
    transition: opacity 1s linear;
}

@media screen and (min-width: 1024px) {
    .cover-bg {
        background-size: cover;
    }
}