@import url('./__quote/comment__quote.css');
@import url('./__author/comment__author.css');
@import url('./__image/comment__image.css');
.container__comment {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-width: 1280px) {
    .container__comment {
        max-width: 382px;
    }
}

@media screen and (min-width: 1024px) {
    .container__comment {
        width: calc(100%/3 - 38px);
    }
}

@media screen and (max-width: 1024px) {
    .container__comment {
        max-width: 296px;
    }
}

@media screen and (min-width: 768px) {
    .container__comment {
        width: calc(100%/3 - 38px);
    }
}

@media screen and (max-width: 768px) {
    .container__comment {
        width: 100%;
        margin-top: 48px;
    }
}

@media screen and (max-width: 375px) {
    .container__comment {
        width: 100%;
    }
}